<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>تسجيل الدخول</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form>
    <div id="phonenumber">
      <ion-input type="number" [minlength]="9" [maxlength]="10" placeholder="رقم الهاتف" required>
      </ion-input>
    </div>
    <div id="password">
      <ion-input type="password" [minlength]="8" placeholder="كلمة السر" required>
      </ion-input>
    </div>
    <ion-button id="submitButton" type="submit" expand="block">تسجيل الدخول</ion-button>
  </form>
  <ion-button id="forgotButton" size="small" fill="clear" color="medium">
    هل نسيت كلمة السر؟
  </ion-button>
  <br>
  
  <div class="make-account">
    <ion-text>
      ترغب في أن تصبح بائع جديد لدينا؟
    </ion-text>
    <br>
    <ion-text>
      <a [routerLink]="['/signup']">قم بإنشاء حساب</a>
    </ion-text>
  </div>
  
</ion-content>
