.make-account{
    text-align: center;
}

#submitButton{
    margin-top: 5%;
}

ion-title{
    text-align: center;
}

#phonenumber{
    margin-top: 5%;
    border-radius: 12px 12px 12px 12px;
    --border-color: light;
    text-align: center;
    --background: transparent;
}

#password{
    margin-top: 5%;
    text-align: center;
    --background: transparent;
}